<!--Page Title-->
<section class="page-title text-center" style="background-image:url(assets/images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Novedades</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="inicio">Inicio &nbsp;/</a>
                </li>
                <li>Novedades</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="noticia"><img src="assets/images/blog/calendario.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="noticia">
                                <h6>Nuevo Calendario 2020!</h6>
                            </a>
                            <span>Por Donult Trum / 02 diciembre 2019</span>
                            <p>Ya tenemos el nuevo calendario 2020 de la Mutual! 🎉😊
                            .
                            Y se va a enviar a todos nuestros socios!
                            .
                            Gracias por formar parte de esta Familia que hacemos entre todos los que somos parte de la Mutual del Comercio</p>
                            <div class="link-btn">
                                <a href="/noticia" class="btn-style-one">seguir leyendo</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="noticia"><img src="assets/images/blog/ayudas-economicas.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="noticia">
                                <h6>Ayudas Económicas</h6>
                            </a>
                            <span>Por James Anderson / 08 January 2018</span>
                            <p>Ayudas Económicas para vos! 🎉 AL INSTANTE!!
                            Nuevas líneas: "Micro-Ayudas". Solo acercate con tu Dni y tu Tarjeta de crédito, para hacerlo en la cantidad de cuotas
                            que vos quieras, Y LISTO!! Llevate el dinero en minutos 🤩
                            .
                            Qué estás esperando para realizar tus proyectos? Comunicate con nosotros! 💸</p>
                            <div class="link-btn">
                                <a href="noticia" class="btn-style-one">seguir leyendo</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="noticia"><img src="assets/images/blog/7.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="noticia">
                                <h6>HOW TO MAKE YOUR MEDICAL TRAINING EVENT OVER THE TOP</h6>
                            </a>
                            <span>By Garry Moe / 12 January 2018</span>
                            <p>Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas
                                non nisi. Quisque velit nisi, pretium
                                ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec,
                                egestas non nisi.</p>
                            <div class="link-btn">
                                <a href="noticia" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="noticia"><img src="assets/images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="noticia">
                                <h6>WHAT DOES THE FLEXDEX BRING TO LAPAROSCOPY?</h6>
                            </a>
                            <span>By Luis Morris / 25 January 2018</span>
                            <p>Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at
                                tellus. Praesent sapien massa, convallis
                                a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor
                                volutpat.</p>
                            <div class="link-btn">
                                <a href="noticia" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Buscar</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="/novedades">
                            <input type="search" name="search" placeholder="Enter para buscar" required="">
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categorías</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="novedades">Servicios <span>(20)</span></a></li>
                            <li><a href="novedades">Medicos <span>(4)</span></a></li>
                            <li><a href="novedades">Farmacias <span>(2)</span></a></li>
                            <li><a href="novedades">Turismo <span>(9)</span></a></li>
                            <li><a href="novedades">Odontólogos <span>(2)</span></a></li>
                        </ul>
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="novedades">ayudas economicas</a><a href="novedades">deporte</a>
                        <a href="novedades">Farmacia</a><a href="novedades">clinicas</a>
                        <a href="novedades">Brasil</a><a href="novedades">compras</a><a href="novedades">psicologo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="novedades"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="novedades" class="active">1</a></li>
                <li><a href="novedades">2</a></li>
                <li><a href="novedades">3</a></li>
                <li><a class="next" href="novedades"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Contact Section -->
