<!--Page Title-->
<section class="page-title text-center" style="background-image:url(assets/images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Servicios</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="/inicio">Inicio &nbsp;/</a>
                </li>
                <li>Servicios</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<section class="service-overview section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-block">
                    <h2>Los servicios que prestamos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eius optio repellendus quasi nisi
                        vitae laboriosam explicabo eligendi sapiente in.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, dolorum esse tempora id
                        architecto laboriosam.
                    </p>
                    <ul>
                        <li><i class="fa fa-caret-right"></i>Ayudas económicas</li>
                        <li><i class="fa fa-caret-right"></i>Asesoramiento legal y contable</li>
                        <li><i class="fa fa-caret-right"></i>Subsidios</li>
                        <li><i class="fa fa-caret-right"></i>Servicios medicos</li>
                        <li><i class="fa fa-caret-right"></i>Otros beneficios</li>
                    </ul>
                    <a href="#" class="btn btn-style-one">Pedir Turno</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion-section">
                    <div class="accordion-holder">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Porque elegirnos
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet tincidunt massa vel imperdiet. Praesent eget
                                        viverra ipsum. Morbi porta pulvinar blandit. Nam laoreet risus in urna commodo interdum. Maecenas congue diam vel
                                        condimentum vulputate. Sed auctor enim rhoncus dignissim aliquam. Etiam ut risus non eros venenatis pretium. Ut vitae
                                        erat pellentesque urna luctus consequat. Aenean dictum volutpat convallis. Nam quis viverra quam. Nam velit lacus,
                                        tincidunt nec porttitor non, tristique quis odio. Pellentesque blandit est vel mollis luctus. Ut tempus pharetra lacus
                                        eget suscipit.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            ¿Qué necesito para solicitar un préstamo?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                        eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda shoreditch et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                        sapiente ea proident.
                                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic
                                        synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                        VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            ¿Qué tipo de subsidios hay?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                        eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda shoreditch et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                        sapiente ea proident.
                                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic
                                        synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                        VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-box col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="assets/images/services/call-center.jpg" alt="service-image">
                    </div>
                    <div class="col-md-6">
                        <div class="contents">
                            <div class="section-title">
                                <h3>Atención Personalizada</h3>
                            </div>
                            <div class="text">
                                <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a
                                    dental prosthetic is added.
                                    then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                                <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a
                                    dental prosthetic is added.
                                    then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                            </div>
                            <ul class="content-list">
                                <li>
                                    <i class="fa fa-check-circle-o"></i>Whitening is among the most popular dental</li>
                                <li>
                                    <i class="fa fa-check-circle-o"></i>Teeth cleaning is part of oral hygiene and
                                    involves</li>
                                <li>
                                    <i class="fa fa-check-circle-o"></i>Teeth cleaning is part of oral hygiene and
                                    involves</li>
                            </ul>
                            <a href="#" class="btn btn-style-one">Seguir leyendo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Section-->
<section class="service-section bg-gray section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Proveedor de 
                <span>Servicios</span>
            </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet. qui suscipit atque
                <br>
                fugiat officia corporis rerum eaque neque totam animi, sapiente culpa. Architecto!</p>
        </div>

        <ngx-slick-carousel class="row items-container clearfix" #slickModal="slick-carousel" [config]="serviceConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
        
            <div ngxSlickItem *ngFor="let service of services">
                <!-- Service Item -->
                <div class="item">
                    <div class="inner-box">
                        <div class="img_holder">
                            <a routerLink="servicios">
                                <img src="{{service.img}}" alt="images" class="img-responsive">
                            </a>
                        </div>
                        <div class="image-content text-center">
                            <span>{{service.servicio}}</span>
                            <a routerLink="servicios">
                                <h6>{{service.titulo}}</h6>
                            </a>
                            <p>{{service.text}}</p>
                        </div>
                    </div>
                </div>
                <!-- Service Item -->
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!--End Service Section-->

