.slide-1 {
  background-image: url("/assets/images/slider/slider-bg-1.jpg");
}

.slide-2 {
  background-image: url("/assets/images/slider/slider-bg-2.jpg");
}

.slide-3 {
  background-image: url("/assets/images/slider/slider-bg-3.jpg");
}