<app-page-title></app-page-title>

<!-- Our Story -->
<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/services/service-one.jpg" class="responsive" alt="story">
            </div>
            <div class="col-md-6">
                <div class="story-content">
                    <h2>Nuestra historia</h2>
                    <h5 class="tagline">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, minima."</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ducimus est vero,
                            officiis, placeat optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                            aliquam nesciunt fugit optio illum aut. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Neque assumenda, est quam perferendis expedita autem?</p>
                        <h6>Mission</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam nihil dolorum beatae
                            consequatur mollitia iure?</p>
                        <h6>Vision</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consectetur adipisci,
                            voluptatum dolores nostrum omnis.</p>
                            
                        <p>La Asociación Mutual del Comercio y Afines fue creada en el año 2006 con el fin de brindar servicios especiales y cubrir
                        diferentes necesidades a los comerciantes asociados, para después hacerla extensiva a todas las personas que quieran
                        recibir nuestros servicios.</p>
                        <p>Es por ello que estamos acostumbrados a dar servicios y beneficios a nuestros asociados, tal es así que quien se asocia
                        por medio de una cuota, recibe a cambio diferentes e importantes beneficios.</p>
                        <p>Queremos invitarlos a que formen parte de nuestra entidad donde descubrirá una atención diferente, personalizada y con
                        más beneficios.</p> 
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>Nuestra Mutual</h6>
                
                    <a data-fancybox
                        href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i
                            class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>